*{
  margin:0;
  padding:0;
}
body{
  font-family: rockwell;
  padding: auto;
  margin: auto;
   
}
.header-top p{
  color: gray;
  margin-top: 0;
  margin-right: 450px;
  text-align: center;
  position: relative;
  top: 10px;
  
  
}
.header-top{
  display: flex;
  justify-content: space-around;
  background-color: rgb(246, 241, 241);
  
 
}
.icons i{
  color: #b2aeae;
  font-size: 30px;
  border-left: 1px groove gray;
  padding: 5px;
  position: relative;
  right: 135px;
  
  

}
span{
  color: #008000;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 200px;
  position: relative;
  right: 115px;
}
.top b{
  font-size: 30px;
}
.top-container{
  display:flex;
  align-content: center;
  margin:5px;
  
  
}

.top img{
  height: 30px;
  width: 30px;
  padding: 10px;
}
.top-container img{
  max-width: 100%;
}
.top-container p{
  padding: 5px;
  margin-left: 2px;
}

div.topnav{
  display: flex;
  justify-content:center;
  background-color: rgb(19, 18, 18);
  overflow-x: auto;

}
div.topnav a{
  
  padding: 19px 5px;
  text-decoration: none;
  color:white;
  transition: .5s;
  border-right:1px dotted ;
  width: 90px;
  text-align: center;
  position: relative;
  right: 27px;

  
}
.dotLine{
  display: flex;
  border: 2px dotted white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 133px;
  right: 200px;
  width: 280px;
  height: 38px;
  z-index: 2;
  transform: translate(-50%, -50%); 
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  transform: rotate(180deg);
}
.half-line{
  display: flex;
  border-left: 2px dotted white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 133px;
  right: 190px;
  width: 250px;
  height: 55px;
  transform: translate(-50%, -50%); 
  transform: rotate(45deg);
  transform-origin:top left;
  z-index: 2;

}
.topnav a:hover {
  background-color: green;
}

.top-1{
  background-image: url(../img/serv.jpg);
  height:150px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  opacity:0.9;
  background-size:cover;
}
.top-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
}
.top-1 center{
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 30px;
  font-weight: bold; 
  text-align: center;
  line-height: 40px;
}
.our-ser-1{
  display: flex;
  flex-wrap: wrap; 
  padding: 20px; 
  box-sizing: border-box;
  margin-left: 80px;
  
  
}
.our-ser-1 > div:nth-child(1) {
  flex: 1; 
}

.our-ser-1 > div:nth-child(2) {
  flex: 1;
}
.our-ser-1 > div:nth-child(3) {
  flex: 1; 
}
.our-ser-1 img{
  max-width: 100%; 
  height:295px; 
}

.our-ser-1 p{
  padding-bottom: 10px;
}
.enquiry{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 5px;  
 
}

.e-1,
.e-2 {
  background-color: green;
  color: white;

  width: 100%;
  box-sizing: border-box; 
  padding: 5px;
}
.dot-line{
  display: flex;
  border: 2px dotted white;
  position: absolute;
  width: 399px;
  height: 50px;
  margin-left: 402px;
  margin-top: 30px;
 
  transform: translate(-50%, -50%); 
}


.e-2 {
  background-color: rgb(0, 0, 0);
  text-align: center;
  
  
}

.e-2 p{
  font-weight: bold; 
  font-size: 20px;
  position: relative;
  top: 10px;
  
}
.content{
  position: relative;
  right: 80px;
}
.our-services{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  padding-left: 175px;
  background-color: rgb(228, 224, 224);
  
}
.our-services span{
  color: green;
}

.container {
 padding-bottom: 20px;
  align-items: center; 
  padding-top: 20px;
}

.centered-line {
  background-color: #008000;
  width: 50px; 
  border-radius: 10px;
  border: 1px solid green; 
  height: 2px;
  position: relative;
  margin-top: 5px;
  right: 28px;

  
}
.services-types{
  display: flex;
  width: 110%;
  padding-bottom: 50px;
  flex-wrap: wrap;
  line-height: 25px;
  
}


.Services img {
  width: 300px; 
  height: 200px; 
  object-fit:cover;
}




figure{
  width: 400px;
 
}
figure img{

  max-width: 100%;
  height: auto;
}
figcaption h3{
  color:black;

}
figcaption p{
  color: grey;
  font-size: 15px;
  padding-bottom: 30px;
  width: 330px;
}
.our-services figure:hover{
  transform: scale(1.03);
  transition: .5s;

}

.Subscribe-now{
  display: flex;
 
  color:white;
  padding:20px;
  padding-left: 50px;
  padding-right: 50px ;
  gap:110px;
  padding-top:50px ;
  padding-bottom:50px;
  justify-content: space-around; 
  background-image: url(../img/Untitled\ design\ \(1\).png);
  background-size:cover;
  background-position: center;

  
  

}
.input-field input {
  width: 200px;
  height: 40px;
  font-size: 16px;

}
.input-field{
  display:flex;

}
.input-field button{
  width: 40px;
  height: 44px;
  background-color: black;
  margin-left: -8px;
  color: white;
  clip-path: polygon(20% 0%,100% 0, 100% 100%,0% 100%);

  
}
footer {
  background-color: rgb(19, 18, 18);
  color: rgb(209, 195, 195);
  padding: 50px 0;
  
}
.bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px; 

}
.bottom > div {
  text-align: center;
}
.name{
  padding-bottom: 10px;
  margin-right: 220px;
}
.quickline{
  margin-left: 150px;
  padding-bottom: 10px;
}
.Gettouch{
  margin-right: 220px;
  padding-bottom: 10px;
  position: relative;
  right: 25px;


}
.OurService{
  margin-right: 50px;
  padding-bottom: 10px;

}

.foo-list{
  text-align: justify;
  color: rgb(123, 125, 126);
  margin-left: 150px;
  list-style: none;
  position: relative;
  left: 20px;

 
}
.Foo-list{
  text-align: justify;
  color: rgb(123, 125, 126);
  margin-left: 100px;
  list-style: none;

}
.Foo-list li{
  padding-bottom: 10px;
}
.foo-list li{
  padding-bottom: 10px;
 
}


.foo-list li::before {
  content: ">";
  margin-right: 0.5em; 
}
.Foo-list li::before {
  content: ">";
  margin-right: 0.5em; 
}
.about-img{
  height: 20px;
  width: 20px;
  display: flex;
  border-radius: 50%;
  gap: 10px;
  padding-left: 5px;
  padding-top: 15px;
 
}
.about-img img {
  margin: 0 10px; 
  transition: filter 0.3s; 
}

.about-img img:hover { 
  filter: brightness(5); 
}

.foo-list1{
  text-align:justify;
  color: rgb(123, 125, 126);
  position: relative;
  right: 20px;
  
 
}

.foo-list1 img{
  height:20px;
  width: 20px;
  padding-right: 10px;
  list-style: none;
  
 
}
.foo-list1  li{
  list-style: none;
  padding-bottom: 10px;
  text-align: justify;


}
.copy{
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  right: 20px;
 

}